<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ISS</a>

    <button
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    class="navbar-toggler"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
   </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">

        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/checklist">Checklist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">ContactUs</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/booking">Booking</a>
        </li>
        
      </ul>
    </div>
    </div>
  </nav>
