<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main>
      
      <section class="slide is-active">
        <div class="slide__content">
          <figure class="slide__figure">
            <img src="/Assets/images/background.jpg" class="slide__img" >
          </figure>
          <header class="slide__header">
            <span class="title-line"><img src="/Assets/images/centennial-college-logo.jpg" id="logo">
            <h2 class="slide__title">
              <span>ISS CENTENNIAL</span>
            </h2>
            <span><button id="home_button" style="margin-left: 10%;">Log In</button></span>
            </span>
            
            

          </header>
        </div>
      </section>
      
  </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %> 